<div>
    <div>
        <img src="../images/beer.png" alt="Beer" width="500">
        <a href="/beer" class="link">Check theBeers!</a>
        <a href="/random-beers" class="link">Check a Random Beer!</a>
    </div>
</div>